# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
__pypackages__/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
dist/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.python-version
.pybuilder/
target/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Linters
.pylintrc

# Folders
logs/
licenses/
database-volume/
obfuscated/
DOWNLOADED_FILES/
EXTRACTED_FILES/
SELECTED_FILES/

# Environment files
.env
env.bak/
venv/
.venv
venv.bak/

# Tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.ipynb_checkpoints/*

# Libraries and frameworks files:
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
*.log
profile_default/
ipython_config.py
celerybeat-schedule
celerybeat.pid
*.sage.py
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
/site
.pyre/
.pytype/
cython_debug/
.ipynb_checkpoints

# Other
.vscode/
.pdm.toml
*.mo
*.pot
